*

!.gitignore
!.gitmodules

!ch1
!ch1/*.scm
!ch1/*.c
!ch1/*.h
!ch1/*.stm
!ch1/*.tm

!scratchpad
!scratchpad/*.stm
!scratchpad/*.scm

!lib
!lib/csv
!lib/csv/*.scm

!lib/frame
!lib/frame/*.scm

!lib/texmacs
!lib/texmacs/*.scm
